#bff
POSTGRES_USER=
POSTGRES_PASSWORD=
APP_JWKS_URI=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
DOMAIN_NAME=
DOMAIN_SCHEME=
OPENAI_API_KEY=
ULCA_API_KEY=
ULCA_CONFIG_URL=
ULCA_USER_ID=
CHAT_WITH_DOCS_ORG_OWNER_EMAIL=
CHAT_WITH_DOCS_ORG_OWNER_PASSWORD=
CHAT_WITH_DOCS_PASSWORD_KEY=
CHAT_WITH_DOCS_ORG_ID=
REGISTRY_URL=
WEATHER_VISUAL_CROSSING_BASE_URL=
WEATHER_VISUAL_CROSSING_API_KEY=
AZURE_URL=
USER_SERVICE_ADMIN_API_KEY=
USER_SERVICE_URL=
