import ./admin/Caddyfile
import ./ai_tools_proxy/Caddyfile
import ./auth_service/Caddyfile
import ./autotune/Caddyfile
import ./bff/Caddyfile
import ./dataset_service/Caddyfile
import ./deployer/Caddyfile
import ./document_service/Caddyfile
import ./inboundjs/Caddyfile
import ./nodehub/Caddyfile
import ./pdf_parser/Caddyfile
import ./telemetry/Caddyfile
import ./transport_socket/Caddyfile
import ./uci_apis/Caddyfile
import ./user_management_service/Caddyfile
import ./yt_parser/Caddyfile 
import ./ai_tools/Caddyfile